html,
body {
  overflow: hidden;
}

body {
  position: fixed;
  width: 100%;
}

div::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

div::-webkit-scrollbar-thumb {
  border-radius: 9px;
  background-color: rgb(158, 158, 158);
  border: 2px solid transparent;
  background-clip: content-box;
}

textarea::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

textarea::-webkit-scrollbar-thumb {
  border-radius: 9px;
  background-color: rgb(158, 158, 158);
  border: 2px solid transparent;
  background-clip: content-box;
}
